.react-calendar {
  @apply max-w-full bg-primary-100 dark:bg-primary-800 leading-4 rounded-2xl overflow-hidden;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar__navigation {
  height: 40px;
}
.react-calendar__navigation button {
  min-width: 40px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--accent-color-400);
}
.react-calendar__navigation button[disabled] {
  background-color: var(--accent-color-400);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: var(--accent-color-400);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #9ca3af;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--accent-color-400);
  color: white;
}
.react-calendar__tile--now {
  background: var(--accent-color-400);
  color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--accent-color-400);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: var(--accent-color-400);
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--accent-color-400);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--accent-color-400);
}
.react-calendar__year-view__months__month {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
