@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-50: #F9FAFB;
  --primary-color-100: #F3F4F6;
  --primary-color-200: #E5E7EB;
  --primary-color-300: #D1D5DB;
  --primary-color-400: #9CA3AF;
  --primary-color-500: #6B7280;
  --primary-color-600: #4B5563;
  --primary-color-700: #374151;
  --primary-color-800: #1F2937;
  --primary-color-900: #111827;
}


/* Debugging colors */
/* :root {
  --primary-color-50: #F9FAFB;
  --primary-color-100: #F3F4F6;
  --primary-color-200: #E5E7EB;
  --primary-color-300: #D1D5DB;
  --primary-color-400: #FBCFE8;
  --primary-color-500: #FDE68A;
  --primary-color-600: #FECACA;
  --primary-color-700: #A7F3D0;
  --primary-color-800: #BFDBFE;
  --primary-color-900: #DDD6FE;
} */

/* Red accent */
/* :root {
  --accent-color-400: #F87171;
  --accent-color-500: #EF4444;
  --accent-color-600: #DC2626;
  --weekend-color: #FECACA;
} */

/* Blue accent */
:root {
  --accent-color-400: #60A5FA;
  --accent-color-500: #3B82F6;
  --accent-color-600: #2563EB;
}

/* Purple accent */
/* :root {
  --accent-color-400: #A78BFA;
  --accent-color-500: #8B5CF6;
  --accent-color-600: #7C3AED;
  --weekend-color: #DDD6FE;
} */

/* Green accent */
/* :root {
  --accent-color-400: #34D399;
  --accent-color-500: #10B981;
  --accent-color-600: #059669;
  --weekend-color: #A7F3D0;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-400);
}

::selection {
  color: white;
  background: var(--accent-color-400);
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

/* React calendar */
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: var(--primary-color-700);
  line-height: 1em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--accent-color-400);
}
.react-calendar__navigation button[disabled] {
  background-color: var(--accent-color-400);
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: var(--accent-color-400);
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #9CA3AF;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: var(--accent-color-400);
  color: white;
}
.react-calendar__tile--now {
  background: var(--accent-color-400);
  color: white;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--accent-color-400);
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: var(--accent-color-600);
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--accent-color-600);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: var(--accent-color-400);
}
