@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color-50: #F9FAFB;
  --primary-color-100: #F3F4F6;
  --primary-color-200: #E5E7EB;
  --primary-color-300: #D1D5DB;
  --primary-color-400: #9CA3AF;
  --primary-color-500: #6B7280;
  --primary-color-600: #4B5563;
  --primary-color-700: #374151;
  --primary-color-800: #1F2937;
  --primary-color-900: #111827;
} */

:root {
  --primary-color-50: #FAFAFA;
  --primary-color-100: #F4F4F5;
  --primary-color-200: #E4E4E7;
  --primary-color-300: #D4D4D8;
  --primary-color-400: #A1A1AA;
  --primary-color-500: #71717A;
  /* --primary-color-600: #E4E4E7;
  --primary-color-700: #F4F4F5;
  --primary-color-800: #fff; */
  --primary-color-600: #52525B;
  --primary-color-700: #3F3F46;
  --primary-color-800: #27272A;
  --primary-color-900: #18181B;
}

/* Debugging colors */
/* :root {
  --primary-color-50: #F9FAFB;
  --primary-color-100: #F3F4F6;
  --primary-color-200: #E5E7EB;
  --primary-color-300: #D1D5DB;
  --primary-color-400: #FBCFE8;
  --primary-color-500: #FDE68A;
  --primary-color-600: #FECACA;
  --primary-color-700: #A7F3D0;
  --primary-color-800: #BFDBFE;
  --primary-color-900: #DDD6FE;
} */

/* Red accent */
/* :root {
  --accent-color-400: #F87171;
  --accent-color-500: #EF4444;
  --accent-color-600: #DC2626;
  --weekend-color: #FECACA;
} */

/* Blue accent */
:root {
  /* --accent-color-400: #60A5FA; */
  --accent-color-400: #2563EB;
  --accent-color-500: #3B82F6;
  --accent-color-600: #2563EB;
}

/* Purple accent */
/* :root {
  --accent-color-400: #A78BFA;
  --accent-color-500: #8B5CF6;
  --accent-color-600: #7C3AED;
  --weekend-color: #DDD6FE;
} */

/* Green accent */
/* :root {
  --accent-color-400: #34D399;
  --accent-color-500: #10B981;
  --accent-color-600: #059669;
  --weekend-color: #A7F3D0;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color-400);
}

::selection {
  color: white;
  background: var(--accent-color-400);
}

html {
  font-family: 'Source Sans Pro', sans-serif;
}

.checkbox {
  -webkit-appearance: none;
  @apply flex items-center justify-center transition-colors;
}

.checkbox:active, .checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  @apply bg-accent-400;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 20px;
	color: #fff;
}